In [1]:
# 性能和内存使用方面的注意事项
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse
from pandas import DataFrame, Series

In [2]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='10ms')
ts = Series(np.random.randn(len(rng)), index=rng)
ts.head()

2000-01-01 00:00:00.000    1.379025
2000-01-01 00:00:00.010   -0.287892
2000-01-01 00:00:00.020   -0.084038
2000-01-01 00:00:00.030   -0.859657
2000-01-01 00:00:00.040    0.085484
Freq: 10L, dtype: float64

In [3]:
ts.resample('15min').ohlc().head()

                         open      high       low     close
2000-01-01 00:00:00  1.379025  4.400398 -4.265419  0.669163
2000-01-01 00:15:00  0.857408  4.434345 -4.012007 -0.400203
2000-01-01 00:30:00  0.564459  4.703350 -4.218674 -0.321595
2000-01-01 00:45:00  0.981623  4.154236 -4.158338  0.606925
2000-01-01 01:00:00 -0.360400  4.217127 -4.148527 -0.005369

In [4]:
 %timeit ts.resample('15min').ohlc()

10 loops, best of 3: 144 ms per loop

In [5]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='1s')
ts = Series(np.random.randn(len(rng)), index=rng)
%timeit ts.resample('15s').ohlc()

1 loop, best of 3: 224 ms per loop