In [1]:
# 其他有关pandas的话题
import numpy as np
import pandas as pd
import tushare as ts
from numpy import nan as NA
from pandas import DataFrame
from pandas import Panel
from pandas import Series

In [2]:
# 整数索引

In [3]:
ser = Series(np.arange(3.))
ser[-1]  # 这里与list不同，使用了整数索引，那么-1有可能出现在任何位置。

KeyError: -1

In [4]:
ser.iloc[:-1] # 但是用iloc的话就无视索引的值，-1的含义又变回位置了。iget_value函数已被取消。

0    0.0
1    1.0
dtype: float64

In [5]:
ser2 = Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1] # 非整数索引-1代表最后一个元素

2.0

In [6]:
frame = DataFrame(np.arange(6).reshape(3, 2), index=[2, 0, 1])
print(frame.iloc[0,]) # iloc指定行/列，irow函数已被取消。
print(frame.iloc[1,:])
print(frame.iloc[:-1,1])

0    0
1    1
Name: 2, dtype: int32
0    2
1    3
Name: 0, dtype: int32
2    1
0    3
Name: 1, dtype: int32

In [7]:
# 面板数据

In [8]:
gsyh = ts.get_hist_data('601398',start='2017-01-01',end='2017-06-30') # 工商银行
jsyh = ts.get_hist_data('601939',start='2017-01-01',end='2017-06-30') # 建设银行
jtyh = ts.get_hist_data('601328',start='2017-01-01',end='2017-06-30') # 交通银行
gsyh.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2017-06-30,5.16,5.25,5.25,5.14,2041933.62,0.07,1.35,5.140,5.103,5.117,2285876.87,2135653.75,1879762.83,0.08
2017-06-29,5.09,5.19,5.18,5.08,1814934.50,0.11,2.17,5.118,5.082,5.119,2204673.43,2070232.88,1838141.19,0.07
2017-06-28,5.09,5.15,5.07,5.06,2450792.00,-0.02,-0.39,5.102,5.069,5.126,2465994.18,2086340.73,1804638.64,0.09
2017-06-27,5.10,5.12,5.09,5.06,2101331.75,-0.02,-0.39,5.098,5.077,5.135,2205762.78,1914710.43,1740952.72,0.08
2017-06-26,5.13,5.24,5.11,5.07,3020392.50,-0.03,-0.58,5.088,5.083,5.142,2179352.73,1797820.74,1691910.98,0.11

In [9]:
pdata = Panel({'gsyh': gsyh, 'jsyh': jsyh, 'jtyh': jtyh}) # 面板的每一层就是一个DataFrame
# Item：Z轴2，gsyh/jsyh/jtyh
# Major：X轴0，行，日期
# Minor：Y轴1，列，open/high/...
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 119 (major_axis) x 14 (minor_axis)
Items axis: gsyh to jtyh
Major_axis axis: 2017-06-30 to 2017-01-03
Minor_axis axis: open to turnover

In [10]:
pdata['gsyh'].head() # 选择gsyh层

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2017-06-30,5.16,5.25,5.25,5.14,2041933.62,0.07,1.35,5.140,5.103,5.117,2285876.87,2135653.75,1879762.83,0.08
2017-06-29,5.09,5.19,5.18,5.08,1814934.50,0.11,2.17,5.118,5.082,5.119,2204673.43,2070232.88,1838141.19,0.07
2017-06-28,5.09,5.15,5.07,5.06,2450792.00,-0.02,-0.39,5.102,5.069,5.126,2465994.18,2086340.73,1804638.64,0.09
2017-06-27,5.10,5.12,5.09,5.06,2101331.75,-0.02,-0.39,5.098,5.077,5.135,2205762.78,1914710.43,1740952.72,0.08
2017-06-26,5.13,5.24,5.11,5.07,3020392.50,-0.03,-0.58,5.088,5.083,5.142,2179352.73,1797820.74,1691910.98,0.11

In [11]:
# 靠，居然警告Panel以后不用。。。
# 交换Items/Minors轴，交换后形式如下
#
#          /
#         ...
#       close
#     open Z轴
#   /
# /
# --- 银行名字 X轴
# |
# |
# 日期 Y轴
# |
# |
swaped_pdata = pdata.swapaxes('items', 'minor')
swaped_pdata['open'].head() # 交换后的panel去open层

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:16: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

            gsyh  jsyh  jtyh
date
2017-06-30  5.16  6.19  6.15
2017-06-29  5.09  6.40  6.14
2017-06-28  5.09  6.37  6.10
2017-06-27  5.10  6.31  6.11
2017-06-26  5.13  6.34  6.16

In [12]:
pdata.loc['gsyh', '2017-06-30':'2017-06-25', 'open'].head() # 轴顺序为Z-Y-X

date
2017-06-30    5.16
2017-06-29    5.09
2017-06-28    5.09
2017-06-27    5.10
2017-06-26    5.13
Name: open, dtype: float64

In [13]:
frame = pdata.loc[:, '2017-06-30':'2017-06-25', :].to_frame() # Y轴保持不变，X轴变成索引内层，Z轴变成列。
frame.head()

                         gsyh       jsyh       jtyh
date       minor
2017-06-30 open          5.16       6.19       6.15
           high          5.25       6.19       6.17
           close         5.25       6.15       6.16
           low           5.14       6.10       6.13
           volume  2041933.62  932212.06  712699.00

In [14]:
frame = pdata.loc['gsyh':'jsyh', :, :].to_frame()
frame.head()

                         gsyh       jsyh
date       minor
2017-06-30 open          5.16       6.19
           high          5.25       6.19
           close         5.25       6.15
           low           5.14       6.10
           volume  2041933.62  932212.06